@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* common style */

.display-flex {
    display: flex;
}

.text-center {
    text-align: center;
}

.common-title {
    font-size: 2.87rem;
}

.common-btn {
    border: none;
    background: none;
}

.text-primary {
    color: #FEA301;
}

.text-secondary {
    color: #01ACFD;
}

.text-info {
    color: #05D4DF;
}

.text-success {
    color: #5D58EF;
}


/* header style start */

/* nav style */
.nav-container {
    justify-content: space-between;
    align-items: center;
    max-width: 1150px;
    margin: 0 auto;
    /* border: 1px solid green; */

}

.nav-brand-container {
    align-items: center;
    gap: .70rem;
}


.nav-brand-container img {
    height: 100%;
}

.nav-brand {
    font-size: 2rem;
}

.ul-container {
    gap: 3rem;
}


.nav-li {
    list-style: none;
}

.nav-a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-button {
    background-color: #FEA301;
    color: white;
    border: none;
    padding: .8rem 3rem;
    border-radius: .5rem;
    font-size: 1.25rem;

}

.hambager-nav {
    display: none;
}



/* banner style */

.banner-container {
    max-width: 1150px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid saddlebrown; */

}

.banner-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.banner-img-container img {
    width: 100%;
}

.banner-detais {
    font-size: 1.25rem;
}

.banner-button {
    background-color: black;
    color: white;
    border: none;
    padding: .8rem 3rem;
    border-radius: .5rem;
    font-size: 1.25rem;
}

/*---------
 main style start 
 -----------*/


/* standard cariculam start */
.standard-cariculam-section {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
}

.standard-cariculam-cantainer {
    max-width: 1150px;
    margin: 0 auto;
    /* border: 1px solid green; */
}



.standard-title {
    margin-top: 0px;
    padding-top: 2.5rem;

}

.satandard-card-container {
    gap: 5rem;
    margin-top: 3.5rem;
}

.satandard-card {
    /* border: 2px solid rebeccapurple; */
    padding: 3rem 2rem;
    border-radius: .5rem;
    box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);

}

#satandard-card-1 {
    background: linear-gradient(180.00deg, rgb(222, 245, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#satandard-card-2 {
    background: linear-gradient(180.00deg, rgb(238, 225, 255), rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);
}

#satandard-card-3 {
    background: linear-gradient(180.00deg, rgb(255, 244, 220) 0.297%, rgba(255, 255, 255, 0) 40%), rgb(255, 255, 255);

}

.satandard-card h3 {
    font-size: 1.5rem;
}

.satandard-card img {
    height: 8rem;
}

.standard-arrow {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

.arrow-contaner {
    background-color: #FEA301;
    color: white;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    margin-right: .5rem;
}




/* ------------------ */
/* ------------------ */
/* ------------------ */

/* for mobible device */

@media screen and (max-width:576px) {

    .nav-brand-container h3,
    .ul-container,
    .nav-button {
        display: none;
    }

    .nav-container {
        border-bottom: 1px solid Orange;
        padding-bottom: .75rem;
    }

    .hambager-nav {
        display: block;
    }

    .banner-section {
        margin-top: 1rem;
    }

    .banner-container {
        flex-direction: column-reverse;
    }

}